<form action= '/player_2_session' method='post'>
  <label for="player2">Player 2:</label>
  <input type='text' name='player_2_name'/>
  <input type='submit' value='submit'/>
</form>
Your opponent will be: <%= session['player_1'] %>!
